<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalTestPackages" value=".\testnugets" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGetizerCI" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <add key="NuGetVolatile" value="https://dotnet.myget.org/F/nuget-volatile/api/v3/index.json" />
  </packageSources>
</configuration>